<html>
    <head>
       <title>{{title}}</title>
    </head>
    <body>
       <div class="entry">
            <h1>Blog</h1>

            <div class="body">
              <h2>{{title}}</h2>
              <ul>
              {{#each post}}
                <li>
                  <!--<p>{{@index}}-{{@last}}</p>-->
                  <p><h4>{{subject}}</h4>{{description}}<br>{{time}}</p>
                </li>
                {{/each}}
              </ul>
            </div>
        </div>
    </body>
</html>
